<template name="Login">
	<div class="container">
		<div class="card card-container">
			<!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
			<img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
			<p id="profile-name" class="profile-name-card"></p>
			<form id="login-form" class="form-signin">
				<span id="reauth-email" class="reauth-email"></span>
				<input type="email" id="login-username" class="form-control" placeholder="Email address" required autofocus>
				<input type="password" id="login-password" class="form-control" placeholder="Password" required>
				<button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>

				<span class="hidden-mobile hiddex-xs">Need an account?</span> <a href="{{ pathFor 'register' }}">Register</a>
			</form><!-- /form -->
		</div><!-- /card-container -->
	</div><!-- /container -->
</template>
