<template name="SmartAdminMainHeader">
    <header id="header">

		<div class="navbar-header">
			<a class="navbar-brand" href="{{ pathFor "default" }}">Project name</a>
		</div>

    </header>
</template>
