<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<template name="SmartAdminMainLayout">
    {{> SmartAdminMainHeader }}
    <div id="main" role="main">
        <div id="content" class="container">
        	{{> alert }}
            {{> Template.dynamic template=content }}
        </div>
    </div>
</template>
