<template name="SmartAdminLayout">
    {{> SmartAdminHeader }}
    {{> SmartAdminNavigation }}

    <!-- MAIN PANEL -->
    <div id="main" role="main">
        <demo-states></demo-states>

        <!-- RIBBON -->
        <div id="ribbon">

				<span class="ribbon-button-alignment">
					<span id="refresh" class="btn btn-ribbon" reset-widgets
                          tooltip-placement="bottom"
                          tooltip-html="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings.">
						<i class="fa fa-refresh"></i>
					</span>
				</span>

            <!-- breadcrumb -->
            <ol class="breadcrumb"></ol>
            <!-- end breadcrumb -->


        </div>
        <!-- END RIBBON -->

        <div id="content">
            {{> Template.dynamic template=content }}
        </div>

    </div>
    <!-- END MAIN PANEL -->

    {{> SmartAdminFooter }}
    {{> SmartAdminShortcut}}
</template>
