<template name="alert">
	{{#if hasAlerts }}
		<div class="alert alert-info alert-dismissible" role="alert">
			<h4>Something went wrong:</h4>
			<ul>
			{{#each alertMessages}}
				<li>{{ reason }}</li>
			{{/each}}
			</ul>
		</div>
	{{/if }}
</template>
